<h1>List of Resources</h1>
<ul>
    <li><strong><%= link_to 'Charts - (Active -> Please Click on this link)', charts_index_path	 %></strong></li>
    <li><%= link_to 'PDF - (In Active -> Coming Soon)', '/' %></li>
    <li><%= link_to 'Charts With PDF - (In Active -> Coming Soon)', '/' %></li>
</ul>